/* GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
}

button:hover {
    filter:brightness(150%);
    transform: scale(1.2);
}

/* HEADER SECTION */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    height: 8vh;
    width: 100%;
    box-shadow: 0px -3px 16px -4px #000000;
    font-weight: 300;
    background-color: white;
}

header div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.logo {
    width: 8rem;
    height: 1.5rem;
}

header div a {
    color: black;
    transition: all 0.5s;
}

header div a:hover {
    font-weight: bolder;
    transform:scale(1.2)
}

.start {
    border: none;
    padding: 1rem;
    color: white;
    background-color: #0061ff;
    width: fit-content;
}

/* MAIN SECTION */

    /* BLUE SECTION  */

    .bluesection {
        background-color: rgb(180, 208, 231);
        height: 81vh;
        padding-top: 15vh;
        margin: 0 auto;
    }

    .bs-container1 {
        max-width: 55%;
        margin: 0 auto;
    }

    .bs-container2 {
        display: flex;
    }

    .bs-container1 h1 {
        font-weight: 800;
        color: black;
        font-size: 4.5rem;
    }

    .bs-subcontainer {
        width: 50%;
    }

    .bs-subcontainer p {
        margin-top: 3rem;
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    .bs-subcontainer span {
        margin-top: 2rem;
    }

    .bs-subcontainer i {
        margin-top: 3rem;
    }

    .bs-subcontainer i {
        animation: endlesspointing 2s infinite alternate;
    }

    @keyframes endlesspointing {
        from {
            transform: scale(1) translateY(0rem);
            filter: invert(0);
        }

        to {
            transform: scale(2) translateY(4rem);
            filter: invert(1); 
        }
    }

    .start2 {
        border: none;
        padding: 1rem;
        color: white;
        background-color: #0061ff;
        width: fit-content;
        margin-top: 2rem;
    }

    .bs-jumbo {
        width: 70%;
    }

    .bs-jumbo img {
        position: relative;
        width: 130%;
        left: -20px;
        top: 50px;
    }

    /* BUSINESS PLANS SECTION */

    .planssection {
        padding-top: 15vh;
        color: black;
    }

    #fmensile, #fannuale {
        margin-right: 0.5rem;
    }

    .ps-container {
        max-width: 55%;
        margin: 0 auto;;
    }
    

    .ps-container h2 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .ps-container label {
        margin-right: 4rem;
    }

        /* PLANS COLUMNS */

        .ps-columns {
            display: flex;
        }
        
        .ps-colbox {
            display: flex;
            flex-direction: column;
            width: calc(100% / 3);
            margin: 35px;
            margin-left: 0;
            border: 2px solid #d1d1d4;
        }

        .titlebox {
            display: flex;
            justify-content: center;
            align-items: baseline;
            border-bottom: 2px solid #d1d1d4;
            padding: 0.5rem;
        }

        .titlebox i {
            padding-right: 0.5rem;
        }

        .ps-colbox-sub {
            padding: 2.5rem;
        }

        .plandetail {
            font-weight: 300;
        }

        .plandetail div {
            margin-bottom: 1rem;
        }

        .planprice h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .price {
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .pricedetail {
            color: #a2a4a5;
            font-weight: 300;
            margin-bottom: 5rem;
        }

        .flexlogo {
            display: flex;
        }

        .flexlogo div i {
            padding-right: 0.5rem;
        }

        .trial {
            border: none;
            padding: 1rem;
            color: white;
            background-color: #0061ff;
            width: 27vh;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            font-weight: 300;
        }

        .buynow {
            color: blue;
            text-decoration: underline;
        }

        .buylink {
            margin-bottom: 4rem;
        }

        .minihr {
            width: 3rem;
            margin-bottom: 4rem;
        }

        .bluecheck {
            display: flex;
        }

        .bluecheck i {
            color: #0061ff;
            padding-right: 0.5rem;
        }

        .mainfeatures {
            margin-bottom: 2rem;
        }

        /* ROW */

        .ps-row {
            border: 2px solid #d1d1d4;
            width: 67.2rem;
        }

        .ps-rowbox {
            padding: 2.5rem;
            display: flex;
            justify-content: space-between;
        }

        .contact {
            border: none;
            padding: 1rem;
            color: white;
            background-color: #0061ff;
            width: 27vh;
            margin-bottom: 3.5rem;
            font-weight: 300;
        }

        .teamdescription {
            font-weight: 300;
            padding: 3rem;
            width: 80%;
        }

    /* FIND A PARTNER SECTION */

    .partnersection {
        width: 55%;
        margin: 0 auto;
        padding-top: 15vh;
    }

    .partnercontainer {
        display: flex;
    }

    .partnerimg {
        margin-right: 5vh;
    }

    .partnerimg img {
        width: 60vh;
    }

    .partnerdescription {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        margin-bottom: 3vh;
        width: 31vh;
        line-height: 2.5vh;
    }

    .partnerdescription div h3 {
        margin-bottom: 2vh;
        margin-top: 7vh;
    }

    .partnerdescription div p {
        margin-bottom: 2vh;
    }

    .findpartner {
        border: 2px solid black ;
        padding: 1rem;
        color: black;
        background-color: #0062ff00;
        width: 18vh;
        font-weight: 300;
    }

    /* FUNCTIONS SECTION  */

    .functionssection {
        padding-top: 15vh;
        width: 55%;
        margin: 0 auto;
    }

    .functionstitle h2 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

        /* CARDS */

        .cardscontainer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }

        .cardbox {
            width: calc(100% / 3 - 40px);
            margin: 40px;
            margin-left: 0;
        }

        .cardbox div {
            line-height: 2.5vh;
            padding: 5px;
        }

        .cardimg {
            width: fit-content;
        }

        .cardimg img{
            width: 35vh;
        }

        .carddescription {
            width: 35vh;
        }

        .carddescription h3 {
            margin-bottom: 2vh;
            line-height: 3vh;
        }

    /* CLIENTS SECTION HEAD */

    .clientssectionhead {
        padding-top: 15vh;
        width: 55%;
        margin: 0 auto;
    }

    .clientstitle {
        width: 40rem;
    }

    .clientstitle h2 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .discoverteams {
        color: blue;
        text-decoration: underline;
        font-weight: 300;
    }

        /* CLIENTS SECTION MAIN */

        .clientssectionmain {
            width: 100%;
            padding-top: 15vh;
        }

        .clientsboxmaincontainer {
            display: flex;
            flex-wrap: wrap;
        }

        .clientsboxsub {
            display: flex;
            flex-wrap: wrap;
            width: calc(100% / 3);
        }

        .clientsboxsub div p {
            margin-bottom: 3rem;
        }
        
        .middle {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .middle p {
            margin-top: -2rem;
        }

        .clientbox {
            display: flex;
            justify-content: center;
            width: 19.8rem;
            height: 18rem;
            transition: all 0.5s;
        }

        .clientbox:hover {
                box-shadow: 0 0 45px rgb(249, 249, 252) inset;
                color: rgba(255,255,255,1);
                transform: scale(0.9);
              }

        .clientbox img {
            width: 50%;
            filter: invert(1);
        }

        .middle .clientbox img {
            width: 90%;
            filter: invert(0);
        }

        .one {
            background-color: #a2d39b;
        }

        .two {
            background-color: #61082b;
        }

        .three {
            background-color: #0093ce;
        }

        .three img {
            width: 15rem;
            height: 4rem;
            margin-top: 8rem;
        }

        .four {
            background-color: #ff1c1c;
        }

        .middle {
            background-color: #f5f5f5;
            padding: 0 10rem 0rem 4rem;
        }

        #middle hr {
            width: 10rem;
            margin-top: 2rem;
        }

        #middle {
            display: inline-block;
            padding-top: 5rem;
        }

        .six {
            background-color: #d5001f;
        }

        .seven {
            background-color: #b4d0e7;
        }

        .eight {
            background-color: #0d2481;
        }

        .nine {
            background-color: #ffd830;
        }

    /* CLIENTS SECTION FOOT */

    .clientssectionfoot {
        width: 100%;
        background-color: #b4d0e7;
        height: 20rem;
    }

    .clientssectionfootcontainer {
        width: 55%;
        margin: 0 auto;
        padding-top: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .clientsfoottitle {
        width: 35rem;
    }

    .clientsfoottitle h2 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
        color: #61082b;
    }

    #starttrial {
        background-color: white;
        color: black;
    }

    /* FAQ SECTION */

    .faqsection {
        padding-top: 15vh;
        width: 55%;
        margin: 0 auto;
    }

    .faqsectioncontainer {
        display: flex;
        flex-direction: column;
    }

    .faqsectiontitle h2{
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .faqbox {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        border-top: 2px lightgrey solid;
    }

    #lastfaqbox {
        border-bottom: 2px lightgrey solid;
        margin-bottom: 6rem;
    }

    .faqbox p {
        font-weight: 900;
    }

    .faqbox i {
        margin-right: 2rem;
    }

    /* FOOTER SECTION */

    footer {
        padding-top: 10vh;
        width: 100%;
        height: 35rem;
        margin: 0 auto;
        background-color: black;
        color: white;
    }
    
    .footercontainer {
        display:flex;
        justify-content: space-evenly;
    }

    .footerbox {
        display: flex;
        flex-direction: column;
        line-height: 2rem;
    }

    .footerbox p {
        font-weight: 300;
    }

    .footerbox h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .langsettings {
        display: flex;
        margin-top: 5rem;
        width: 7rem;
        border-top: 2px solid #999999;
        font-weight: 300;
        color: #999999;
        padding: 3rem 0;
        margin-left: 11.5rem;
    }

    .flexlang {
        display: flex;
        align-content: center;
        align-items: baseline;
    }

    .langsettings .fa-sort-up {
        margin-left: 1rem;
    }

    .langsettings .fa-earth-americas {
        margin-right: 0.5rem;
    }
