/* GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* HEADER SECTION */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    height: 8vh;
    width: 100%;
    box-shadow: 0px -3px 16px -4px #000000;
    font-weight: 300;
    background-color: white;
}

header div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.logo {
    width: 125px;
    height: 25px;
}

header div a {
    color: black;
}

.start {
    border: none;
    padding: 10px;
    color: white;
    background-color: #0061ff;
    width: fit-content;
}

/* MAIN SECTION */

main {
    width: 100%;
}

    /* BLUE SECTION  */

    .bluesection {
        display: flex;
        background-color: #b4d0e7;
        height: 80vh;
        width: 100%;
        justify-content: center;
    }

    .bs-container1 {
        margin-top: 15vh;
        width: 50%;
        position: relative;
    }

    .bs-container1 h1 {
        font-weight: 800;
        color: black;
        font-size: 65px;
    }

    .bs-subcontainer1 {
        display: flex;
        flex-direction: column;
        width: 38%;
    }

    .bs-subcontainer1 p {
        margin-top: 45px;
    }

    .bs-subcontainer1 i {
        margin-top: 70px;
    }

    .start2 {
        border: none;
        padding: 10px;
        color: white;
        background-color: #0061ff;
        width: fit-content;
        margin-top: 35px;
    }

    .bsjumbo {
        width: 90%;
        position: absolute;
        left: 40%;
        top: 35%;
    }

    /* BUSINESS PLANS SECTION */

    .planssection {
        display: flex;
        height: 15vh;
        width: 100%;
        justify-content: center;
        margin-top: 15vh;
        margin-left: -18vh;
        color: black;
    }

    #fmensile, #fannuale {
        margin-right: 5px;
    }

    .ps-container1 h2 {
        font-size: 40px;
        margin-bottom: 5vh;
    }

    .ps-container1 label {
        margin-right: 40px;
    }

        /* PLANS COLUMNS */

        .ps-columns {
            display: flex;
            justify-content: center;
        }
        
        .ps-colbox {
            border: 2px solid #d1d1d4;
            margin-right: 40px;
            margin-top: 40px;
            width: 16%;
        }

        .titlebox {
            display: flex;
            justify-content: center;
            display: flex;
            align-items: baseline;
            border-bottom: 2px solid #d1d1d4;
            padding: 5px;
        }

        .titlebox i {
            padding-right: 5px;
        }

        .ps-colbox-sub {
            padding: 25px;
        }

        .plandetail {
            font-weight: 300;
        }

        .plandetail div {
            margin-bottom: 10px;
        }

        .planprice h3 {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .price {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .pricedetail {
            color: #a2a4a5;
            font-weight: 300;
            margin-bottom: 50px;
        }

        .flexlogo {
            display: flex;
        }

        .flexlogo div i {
            padding-right: 5px;
        }

        .trial {
            border: none;
            padding: 10px;
            color: white;
            background-color: #0061ff;
            width: 27vh;
            margin-top: 35px;
            margin-bottom: 35px;
            font-weight: 300;
        }

        .buynow {
            color: blue;
            text-decoration: underline;
        }

        .buylink {
            margin-bottom: 40px;
        }

        .minihr {
            width: 30px;
            margin-bottom: 40px;
        }

        .bluecheck {
            display: flex;
        }

        .bluecheck i {
            color: #0061ff;
            padding-right: 5px;
        }

        .mainfeatures {
            margin-bottom: 20px;
        }

        /* ROW */

        .ps-row {
            display: flex;
            justify-content: center;
        }
    
        .ps-rowbox {
            border: 2px solid #d1d1d4;
            margin-top: 40px;
            margin-right: 2%;
            width: 52.2%;
        }

        .ps-rowbox-sub {
            padding: 25px;
            display: flex;
            justify-content: space-between;
        }

        .contact {
            border: none;
            padding: 10px;
            color: white;
            background-color: #0061ff;
            width: 27vh;
            margin-bottom: 35px;
            font-weight: 300;
        }

        .teamdescription {
            font-weight: 300;
            padding: 30px;
            width: 80%;
        }

    /* FIND A PARTNER SECTION */

    .partnercontainer {
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .partnerimg {
        margin-right: 5vh;
    }

    .partnerimg img {
        width: 60vh;
    }

    .partnerdescription {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        margin-bottom: 3vh;
        width: 31vh;
        line-height: 2.5vh;
    }

    .partnerdescription div h3 {
        margin-bottom: 2vh;
        margin-top: 7vh;
    }

    .partnerdescription div p {
        margin-bottom: 2vh;
    }

    .findpartner {
        border: 2px solid black ;
        padding: 10px;
        color: black;
        background-color: #0062ff00;
        width: 15vh;
        font-weight: 300;
    }